# File test-apps/.gitignore
# Ignore everything in this directory
*
#Except for this file 
!.gitignore
!/VectorAdd/Makefile
!/VectorAdd/run.sh
!/VectorAdd/sdc_check.sh
!/VectorAdd/vectorAdd.cu
!/common
!/logs/VectorAdd/injection-list/modeIRA1000.txt
!/gemm
!/accl
!/bfs
!/gaussian
!/lava
!/hotspot
!/libLogHelper
!/log_helper_dest/README.md
!/lud
!/mergesort
!/quicksort
!/cfd
!/common/include
!/nw
!/configure_real_workloads.py
!LeNet


